@import url("https://fonts.google.com/specimen/Rubik");


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
    max-width: 1440px;
    font-family: "Rubik" , sans-serif;
    font-size: 18px;
}

.rec{
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

ul{
    text-decoration: none;
    display: flex;
}

ul li{
    list-style: none;
    margin-right: 1.3rem;
    cursor: pointer;
}
ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover{
    color: orangered;
}

nav ul li:nth-child(4){
    background:orangered;
    padding: 10px 20px 10px 20px;
    margin-top: -5px;
    border-radius: 5px;
}
nav ul li:nth-child(4) a{
    color: white;
}
nav ul li:nth-child(4):hover{
    background:white;
    border-radius: 5px;
    border: 1px solid orangered;
}
nav ul li:nth-child(4) a:hover{
    color: orangered;
}

nav ul li:nth-last-child():hover{
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
}


/* hero section */
.getit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manager{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.manager h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Rubik" , sans-serif;
}

.manager p{
    font-size: 18px;
    color: gray;
    margin: 20px auto;
}

.manager-btn button{
    background-color:  hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.manager-btn button:hover{
    background-color: white;
    color:hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
}

.manager-pic .rec{
    top: 57%;
    left: 65%;
    z-index: 0;
}




.manager-pic img{
    position: relative;
    width: 100%;
    height: 100%;
}


/* features section */

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .features-head{
    width: 40%;
    text-align: center;
}

.features .features-head h1{
    font-size: 2rem;
}


.features .features-head p{
    font-size: 18px;
    margin: 20px auto;
    color: gray;

}

.features button{
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(216, 214, 214);
    color: gray;
}

.features button:hover{ 
    color: orangered;
}

#active{
    border-bottom: 3px solid orangered;
}

.slide-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-pic .rec{
    top:185%;
    right: 65%;
    z-index: 0;
}
.detail-pic img{
    position: relative;
}

.detail-para{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.detail-para button{
    background-color:  hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.detail-para button:hover{
    background-color: white;
    color:hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
}

.detail-para h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Rubik" , sans-serif;
}

.detail-para p{
    font-size: 18px;
    color: gray;
    margin: 20px auto;
}


/* questions section */
.download{
    margin: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download-para{
    width: 40%;
    text-align: center;
}

.download-para h1{
    font-size: 2rem;
}
.download-para p{
    font-size: 18px;
    color: gray;
    margin: 20px auto;
}

.download-cards{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.card{
    box-shadow:0px 0px 4px rgba(53, 37, 37, 0.4);
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 60vh;
    margin-right: 100px;
}

.card .card-info{
    margin: 10px auto 15px auto;
}

.card .card-btn{
    margin: 10px auto 10px auto;
}

.card-btn button{
    background-color:  hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-btn button:hover{
    background-color: white;
    color:hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
}

/* Questions section */
.questions{
    margin: 50px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.questions-para{
    text-align: center;
}

.questions-para h1{
    font-size: 2rem;
}

.questions-para p{
    font-size: 18px;
    color: gray;
    margin: 20px auto;
}

.questions-btn button{
    background-color:  hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.questions-btn button:hover{
    background-color: white;
    color:hsl(231, 69%, 60%);
    border: 1px solid hsl(231, 69%, 60%);
}

.questions-accordion{
    margin: 20px auto;
}
.accordion {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: orangered;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active, .accordion:hover {
    background-color: #eee;
    color: orangered;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Join us */

.join{
    background-color: hsl(231, 69%, 60%);
    
}

.join-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin: auto auto;
    margin: 20px auto;
}

.join > p{
    font-size: 16px;
    font-weight: 300;

}

#join-big{
    font-weight: 700;
    font-size: 1.65rem;
    margin: 20px auto;
    text-align: center;
}

.join form input{
    outline-color: orangered;
    border-radius: 5px;
    border: 2px solid orangered;
    padding: 0.5rem 0.6rem;

}

.join form button{
    background:orangered;
    padding: 10px 20px 10px 20px;
    margin-top: -5px;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    border: none;
}

.join form button:hover{
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
}


/* footer section */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color:hsl(229, 31%, 21%) ;
    color: #fff;
}

.footer .social-icons img:hover{
    background-color: orangered;
}

.footer ul li a{
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.footer ul li a:hover{
    color: orangered;
}

.footer ul .logo-svg{ 
    color: white;
}